.modale-conteneur {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100dvw;
    min-height: 100dvh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    z-index: 666;

    & .modale {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: var(--space-xxl);
        position: relative;
        background-color: white;
        padding: var(--space-lg);
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        min-width: 60%;
        max-width: 500px;

        & h2 {
            font-weight: 600;
            color: var(--color-link);
            font-size: 50px;
        }

        & > div:not(div:last-of-type) {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--space-sm);
        }

        & > div div{
            max-width: 82ch;
            background-color: var(--color-accent);
            color: var(--color-link);
            padding: var(--space-lg);
        }

        & div:last-of-type{
            padding-right: var(--space-md);
        }

        & p{
            font-size: var(--font-size-lg);
            margin-top: var(--space-lg);
        }

        & .fermer-modale {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
        
        & img{
            max-width: 100%;
        }

        & a{
            margin-top: var(--space-xxxl);
            border-top: 1px solid #00000052;
            padding-top: var(--space-lg);
            font-size: var(--font-size-sm);
            font-weight: 300;
            font-family: "Roboto", sans-serif;
        }

        & input{
            min-width: 400px; /* TODO: VERIFIER CAR SUR PETIT ÉCRAN, NE FONCTIONNE PAS */
            height: 35px;
            margin-top: var(--space-lg);
            padding: var(--space-lg);
        }
        & h3{
            font-weight: 500;
        }
    }
}


