.navigation-principale {
  display: flex;
  gap: var(--space-xxl);
  align-items: center;

  & a {
    text-decoration: none;
    color: inherit;
    font-size: var(--font-size-xxl);
    order: 0;

    &:hover {
      color: var(--color-link);
    }
  }

  & div {
    order: 1;
    cursor: pointer;

    & i:hover {
      color: var(--color-link);
    }
  }
}
